# Struktur data tipe Lists

In [7]:
aList=["Kambing",33,"Toronto",True]

In [13]:
print(aList)

['Kambing', 33, 'Toronto', True]

In [14]:
bin_colors=['Red','Green','Blue','Yellow']

In [15]:
bin_colors[1]

'Green'

In [21]:
bin_colors=['Red','Green','Blue','Yellow']

In [24]:
for aColor in bin_colors:
    print(aColor+"Ngambek")

RedNgambek
GreenNgambek
BlueNgambek
YellowNgambek

# Struktur data tipe Tuples

In [25]:
bin_colors=('Red','Green','Blue','Yellow')

In [26]:
bin_colors[1]

'Green'

In [28]:
bin_colors[2:]

('Blue', 'Yellow')

# Struktur data tipe Dictionary

In [29]:
bin_colors={
    "manual_color":"Yellow",
    "approved_color":"Green",
    "refused_color":"red"
}

In [30]:
print(bin_colors)

{'manual_color': 'Yellow', 'approved_color': 'Green', 'refused_color': 'red'}

# Struktur data tipe Sets

In [33]:
green={'rumput','daun'}

In [34]:
print(green)

{'daun', 'rumput'}

In [35]:
green={'rumput','daun','daun'}

In [77]:
print(green)

{'daun', 'rumput'}

In [78]:
item = {'dandelions','fire hydrant','rose'}

In [79]:
oren = {'fire hydrant','blood','rose','leaves'}

In [80]:
item|oren

{'blood', 'dandelions', 'fire hydrant', 'leaves', 'rose'}

In [82]:
item&oren

{'fire hydrant', 'rose'}

# Struktur data DataFrames

In [87]:
import pandas as pd

In [88]:
df = pd.DataFrame([
    ['1','Udin',32,True],
    ['2','Mang Oleh',23,False],
    ['3','Iron men',40,True]])

In [89]:
df.columns=['id','name','age','decision']

In [90]:
df

  id       name  age  decision
0  1       Udin   32      True
1  2  Mang Oleh   23     False
2  3   Iron men   40      True

In [91]:
df[['name','age']]

        name  age
0       Udin   32
1  Mang Oleh   23
2   Iron men   40

In [92]:
df.iloc[:,3]

0     True
1    False
2     True
Name: decision, dtype: bool

In [93]:
df.iloc[1:3,:]

  id       name  age  decision
1  2  Mang Oleh   23     False
2  3   Iron men   40      True

In [94]:
df[df.age>30]

  id      name  age  decision
0  1      Udin   32      True
2  3  Iron men   40      True

In [95]:
df[(df.age<35)&(df.decision==True)]

  id  name  age  decision
0  1  Udin   32      True

# Struktur data Matrix

In [104]:
import numpy as np

In [105]:
myMatrix = np.array([[11,12,13],[21,22,23],[31,32,33]])

In [106]:
print(myMatrix)

[[11 12 13]
 [21 22 23]
 [31 32 33]]

In [107]:
print(type(myMatrix))

<class 'numpy.ndarray'>

# Tipe data abstrak : Vector

In [108]:
myVector = [22,33,44,55]

In [109]:
print(myVector)

[22, 33, 44, 55]

In [110]:
import numpy as np

In [111]:
myVector = np.array([22,33,44,55])

In [112]:
print(myVector)

[22 33 44 55]

In [113]:
print(type(myVector))

<class 'numpy.ndarray'>

# Tipe data abstrak : Stack

In [123]:
class Stack:
   def __init__(self):
       self.items = []
        
   def isEmpty(self):
       return self.items == []
    
   def push(self, items):
       self.items.append(items)
        
   def pop(self):
       return self.items.pop()
    
   def peek(self):
       return self.items[len(self.items)-1]
    
   def size(self):
       return len(self.items)

In [124]:
stack=Stack()
stack.push('Red')
stack.push('Green')
stack.push("Blue")
stack.push("Yellow")

In [125]:
stack.pop()

'Yellow'

In [127]:
stack.isEmpty()

False

# Tipe data abstrak : Queque

In [141]:

class Queue:
    def __init__(self):
        self.items = []
    def isEmpty(self):
        return self.items == []
    def enqueue(self, item):
        self.items.insert(0,item)
    def dequeue(self):
        return self.items.pop()
    def size(self):
        return len(self.items)

In [146]:
queue = Queue()

In [147]:
queue.enqueue('Red')

In [148]:
queue.enqueue('Green')

In [149]:
queue.enqueue('Blue')

In [150]:
queue.enqueue('Yellow')

In [151]:
print(queue.size())

4

In [152]:
print(queue.dequeue())

Red

In [153]:
print(queue.dequeue())

Green